{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
       <!-- Footer -->
<!-- Footer -->
<div class="container-fluid py-3   border-top   text-center footer " >
  <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 gap-md-4 flex-wrap ">
    
    <span style="font-weight: 600; color: #000;">
      © 2025. Powered by
      <img src="{% static 'images/crono.png' %}" alt="Chronoanalytics Logo" style="height: 20px; vertical-align: middle;">
      <a href="http://www.chronoanalytics.in/" target="_blank"
         style="text-decoration: none;
                background: linear-gradient(to right, #2575fc, #6a11cb);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 600;">
        Chronoanalytics Solution
      </a>
    </span>

    <span style="font-weight: 600; color: #000;">
      | Marketed by
      <img src="{% static 'images/TeimLogo.png' %}" alt="Teim Logo" style="height: 20px; vertical-align: middle;">
      <a href="http://teim.in/" target="_blank"
         style="text-decoration: none;
                background: linear-gradient(to right, #2575fc, #6a11cb);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 600;">
        TEIM
      </a>
    </span>

  </div>
</div>

    </body>
</html>